In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\DELL\Downloads\5G_energy_consumption_dataset.csv")
df

                  Time      BS     Energy      load  ESMODE   TXpower
0      20230101 010000     B_0  64.275037  0.487936     0.0  7.101719
1      20230101 020000     B_0  55.904335  0.344468     0.0  7.101719
2      20230101 030000     B_0  57.698057  0.193766     0.0  7.101719
3      20230101 040000     B_0  55.156951  0.222383     0.0  7.101719
4      20230101 050000     B_0  56.053812  0.175436     0.0  7.101719
...                ...     ...        ...       ...     ...       ...
92624  20230102 170000  B_1018  14.648729  0.087538     0.0  7.325859
92625  20230102 180000  B_1018  14.648729  0.082635     0.0  7.325859
92626  20230102 210000  B_1018  13.452915  0.055538     0.0  7.325859
92627  20230102 220000  B_1018  13.602392  0.058077     0.0  7.325859
92628  20230102 230000  B_1018  13.303438  0.048173     0.0  7.325859

[92629 rows x 6 columns]

In [3]:
df.describe()

             Energy          load        ESMODE       TXpower
count  92629.000000  92629.000000  92629.000000  92629.000000
mean      28.138997      0.244705      0.081361      6.765427
std       13.934645      0.234677      0.382317      0.309929
min        0.747384      0.000000      0.000000      5.381166
25%       18.236173      0.057370      0.000000      6.427504
50%       24.065770      0.165550      0.000000      6.875934
75%       35.724963      0.363766      0.000000      6.875934
max      100.000000      0.993957      4.000000      8.375336

In [4]:
df['Time'] = pd.to_datetime(df['Time'], format='%Y%m%d %H%M%S')

In [5]:
df

                     Time      BS     Energy      load  ESMODE   TXpower
0     2023-01-01 01:00:00     B_0  64.275037  0.487936     0.0  7.101719
1     2023-01-01 02:00:00     B_0  55.904335  0.344468     0.0  7.101719
2     2023-01-01 03:00:00     B_0  57.698057  0.193766     0.0  7.101719
3     2023-01-01 04:00:00     B_0  55.156951  0.222383     0.0  7.101719
4     2023-01-01 05:00:00     B_0  56.053812  0.175436     0.0  7.101719
...                   ...     ...        ...       ...     ...       ...
92624 2023-01-02 17:00:00  B_1018  14.648729  0.087538     0.0  7.325859
92625 2023-01-02 18:00:00  B_1018  14.648729  0.082635     0.0  7.325859
92626 2023-01-02 21:00:00  B_1018  13.452915  0.055538     0.0  7.325859
92627 2023-01-02 22:00:00  B_1018  13.602392  0.058077     0.0  7.325859
92628 2023-01-02 23:00:00  B_1018  13.303438  0.048173     0.0  7.325859

[92629 rows x 6 columns]

In [6]:
# extract year, month, day, hour, and seconds from the 'Time' column
df['Year'] = df['Time'].dt.year
df['Month'] = df['Time'].dt.month
df['Day'] = df['Time'].dt.day
df['Hour'] = df['Time'].dt.hour
df['Seconds'] = df['Time'].dt.second

In [7]:
df

,Time,BS,Energy,load,ESMODE,TXpower,Year,Month,Day,Hour,Seconds
0,2023-01-01 01:00:00,B_0,64.275037,0.487936,0.0,7.101719,2023,1,1,1,0
1,2023-01-01 02:00:00,B_0,55.904335,0.344468,0.0,7.101719,2023,1,1,2,0
2,2023-01-01 03:00:00,B_0,57.698057,0.193766,0.0,7.101719,2023,1,1,3,0
3,2023-01-01 04:00:00,B_0,55.156951,0.222383,0.0,7.101719,2023,1,1,4,0
4,2023-01-01 05:00:00,B_0,56.053812,0.175436,0.0,7.101719,2023,1,1,5,0
...,...,...,...,...,...,...,...,...,...,...,...
92624,2023-01-02 17:00:00,B_1018,14.648729,0.087538,0.0,7.325859,2023,1,2,17,0
92625,2023-01-02 18:00:00,B_1018,14.648729,0.082635,0.0,7.325859,2023,1,2,18,0
92626,2023-01-02 21:00:00,B_1018,13.452915,0.055538,0.0,7.325859,2023,1,2,21,0
92627,2023-01-02 22:00:00,B_1018,13.602392,0.058077,0.0,7.325859,2023,1,2,22,0
92628,2023-01-02 23:00:00,B_1018,13.303438,0.048173,0.0,7.325859,2023,1,2,23,0

In [9]:
pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.6.3-py2.py3-none-any.whl.metadata (8.0 kB)
Requirement already satisfied: numpy>=1.14.0 in c:\users\dell\anaconda3\lib\site-packages (from category_encoders) (1.26.4)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\dell\anaconda3\lib\site-packages (from category_encoders) (1.2.2)
Requirement already satisfied: scipy>=1.0.0 in c:\users\dell\anaconda3\lib\site-packages (from category_encoders) (1.11.4)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\dell\anaconda3\lib\site-packages (from category_encoders) (0.14.0)
Requirement already satisfied: pandas>=1.0.5 in c:\users\dell\anaconda3\lib\site-packages (from category_encoders) (2.1.4)
Requirement already satisfied: patsy>=0.5.1 in c:\users\dell\anaconda3\lib\site-packages (from category_encoders) (0.5.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2023.3)
Requirement already satisfied: six in c:\users\dell\anaconda3\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\dell\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\dell\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.2.0)
Requirement already satisfied: packaging>=21.3 in c:\users\dell\anaconda3\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (23.1)
Downloading category_encoders-2.6.3-py2.py3-none-any.whl (81 kB)
   ---------------------------------------- 0.0/81.9 kB ? eta -:--:--
   ----- ---------------------------------- 10.2/81.9 kB ? eta -:--:--
   ----- ---------------------------------- 10.2/81.9 kB ? eta -:--:--
   ----- ---------------------------------- 10.2/81.9 kB ? eta -:--:--
   ----- ---------------------------------- 10.2/81.9 kB ? eta -:--:--
   --------------- ------------------------ 30.7/81.9 kB 93.5 kB/s eta 0:00:01
   --------------- ------------------------ 30.7/81.9 kB 93.5 kB/s eta 0:00:01
   ------------------------------ --------- 61.4/81.9 kB 172.4 kB/s eta 0:00:01
   ----------------------------------- ---- 71.7/81.9 kB 171.1 kB/s eta 0:00:01
   ----------------------------------- ---- 71.7/81.9 kB 171.1 kB/s eta 0:00:01
   ----------------------------------- ---- 71.7/81.9 kB 171.1 kB/s eta 0:00:01
   ----------------------------------- ---- 71.7/81.9 kB 171.1 kB/s eta 0:00:01
   ----------------------------------- ---- 71.7/81.9 kB 171.1 kB/s eta 0:00:01
   ----------------------------------- ---- 71.7/81.9 kB 171.1 kB/s eta 0:00:01
   ----------------------------------- ---- 71.7/81.9 kB 171.1 kB/s eta 0:00:01
   ----------------------------------- ---- 71.7/81.9 kB 171.1 kB/s eta 0:00:01
   ----------------------------------- ---- 71.7/81.9 kB 171.1 kB/s eta 0:00:01
   ----------------------------------- ---- 71.7/81.9 kB 171.1 kB/s eta 0:00:01
   ----------------------------------- ---- 71.7/81.9 kB 171.1 kB/s eta 0:00:01
   ----------------------------------- ---- 71.7/81.9 kB 171.1 kB/s eta 0:00:01
   ----------------------------------- ---- 71.7/81.9 kB 171.1 kB/s eta 0:00:01
   ----------------------------------- ---- 71.7/81.9 kB 171.1 kB/s eta 0:00:01
   ---------------------------------------- 81.9/81.9 kB 72.8 kB/s eta 0:00:00
Installing collected packages: category_encoders
Successfully installed category_encoders-2.6.3
Note: you may need to restart the kernel to use updated packages.

In [10]:
from category_encoders.target_encoder import TargetEncoder

# Create a target encoder
te = TargetEncoder()

# Fit the target encoder to the data
te.fit(df['BS'], df['Energy'])

# Transform the BS column using target encoding
df['BS_encoded'] = te.transform(df['BS'])

In [11]:
print(df['BS_encoded'].unique())

[73.08741542 17.74552446 56.83832431 35.81120036 22.37533592 21.92320209
 26.24293001 50.16018595 30.33565906 14.848073   31.10525662 14.3406076
 14.58006374 16.77406187 16.85830205 32.8246929  45.69228283 16.3754606
 50.08238889 19.84334532 24.67457629 19.92607555 21.46892324 24.39461472
 35.71683276 44.05611989 24.83083821 56.32206721 21.03550713 26.90195074
 21.05635788 28.54864752 29.68167202 53.04876964 31.49668843 34.54874016
 17.95614184 19.51160201 18.96869662 18.81280628 46.04426309 28.68978024
 28.94858922 27.10524747 16.70170401 47.1371246  34.99547088 24.74916298
 28.76609382 20.57877085 25.75917626 24.46129135 29.09473762 27.29377887
 27.19055647 28.74474106 34.9332141  20.20164914 14.63700889 11.89832839
 13.66228074 60.31895593 52.09768085 20.25639028 19.96501154 31.507354
 30.86391158 41.4452084  28.38379337 25.19325755 35.98190892 19.24607416
 25.26797916 32.19730445 20.99286451 37.22472914 72.72500031 10.62586409
 59.75014154 33.35819362 24.69638087 13.56900601 30.0457848  25.28277565
 16.85382971 11.91474889 23.97994219 34.64117652 49.94962499 28.69431081
 51.08855204 20.67442192 22.4689238  23.63324297 21.43095563 20.98651608
 60.99440809 19.6006322  19.1164018  18.81244573 15.86784962 19.81894045
 18.77234803 18.41810412 59.19091311 49.66713531 18.71910374 51.03097643
 29.04405815 27.91449544 37.75736283 74.07580914 66.02693416 22.64896385
 20.43744008 16.87868334 15.52696575 49.75206344 15.13095371 43.70023001
 17.98844406 15.46722589 25.20131378 24.1895451  25.84666538 45.30706903
 38.64509744 40.19319788 20.80304669 21.93608096 19.45191945 21.12006322
 38.68674122 35.9223986  50.7107949  16.91906756 34.52818492 24.35850745
 23.84571112 24.10675058 36.34339482 55.26295903 23.77447373 46.76968494
 31.12415085 23.267581   22.13430475 22.03892331 20.33764496 51.13105342
 39.57949246 37.30000092 23.55704848 17.00856411 20.17942744 19.44936699
 19.75469009 14.64510672 13.55797184 46.78326982 24.23226295 50.95412526
 21.82507725 23.89971291 20.13854036 28.65629322 19.31277884 51.2842655
 20.14856439 47.06154258 29.4535679  49.96559583 28.60853053 62.43974646
 22.57440598 27.21406215 29.26334813 25.78171111 27.20897467 59.55964198
 48.73021001 44.62949868 24.82610973 18.73251263 19.86001057 19.18332
 17.79622212 50.43145753 16.89984627 51.42279401 44.24587202 24.73145166
 19.10100203 22.01793602 18.07572696 22.70113342 18.5662038  36.80963793
 15.89206359 22.78495142 18.44077183 20.1881079  22.64045254 25.69769937
 19.58700611 29.40749478 16.72313625 18.38673922 49.31522874 23.91945743
 23.39360354 31.58988054 15.77402344 21.36092842 18.89460553 20.64692458
 29.21640247 37.16653883 11.63679622 19.79381893 19.0395556  18.9742253
 29.73854411 34.83532976 16.75055256 14.40321361 20.74948908 17.8945038
 44.76227981 33.54581043 45.79670108 23.81012578 27.01843289 56.67007925
 50.27583855 54.14928545 25.1303517  24.82797031 19.53224846 21.11606991
 43.63697604 18.87766387 44.13675643 20.87318567 30.27219538 21.02003876
 22.48674888 21.16101895 39.00819928 48.66493681 16.46701858 43.31192792
 24.92547923 19.88249618 18.61210985 21.80185117 19.51866133 38.1416049
 24.79080381 36.24629385 17.66767437 51.40054414 20.31016511 22.25155566
 28.28203763 19.10289528 20.2428969  23.08109235 47.30603265 42.64614258
 23.60123759 30.77903161 30.11436297 23.67475805 10.12002311 34.25591231
 27.57850078 38.56554177 37.71153157 25.45554643 46.54314479 20.52827642
 21.56684522 26.29075903 21.9107878  21.24332606 23.5306939  36.31791673
 45.88224043 20.25945046 19.27273937 14.0549144  25.42413109 14.39631482
 13.81795813 41.26193159 40.50001179 15.98638718 15.89983006 53.44475254
 14.00364687 52.31463086 31.05141392 13.68884342 29.9936262  17.86956544
 19.26303512 19.27409147 15.35743017 19.32120955 12.15122973 15.58264757
 12.66012677 41.80412723 10.8087061  21.84594965 13.46035193 21.74029215
 19.47690553 42.57193809 29.59177404 41.97400825 26.13798639 26.5916398
 25.06873579 21.60444051 19.83684682 47.70513077 39.19628986 41.874971
 20.37145    44.11136699 22.42826254 24.65869091 30.27474752 22.46437318
 21.89887196 37.78203939 33.63357911 20.20311287 20.40245259 20.14664492
 20.27618028 40.31006593 16.98489984 47.10597668 14.65742492 17.89725156
 18.88906401 18.04144796 29.50178814 41.51497484 53.70614304 20.72961953
 50.83274087 23.84636395 22.13636755 21.62493439 19.28548123 55.6070425
 12.76885087 17.13370766 33.85138903 15.37187047 16.1760926  16.39301227
 16.76893105 14.30240599 11.90037298 18.18530381 22.77974286 12.01810817
 11.56739051 11.78624816 33.83694581 25.00445897 19.72252203 13.40559518
 58.0928105  20.38969931 25.03368515 17.06283171 65.75079271 47.22417005
 48.85191702 34.35139691 19.86501896 30.35417662 78.60771378 38.74733607
 42.39934592 27.20358722 15.18708555 16.43812806 13.61808559 20.49217253
 11.03813859 21.32400515 14.55836027 13.39922212 22.1233134  22.5621538
 16.22810093 41.12213803 16.71563723 36.49936133 26.53514736 17.9920279
 22.81593897 19.17573427 20.78432902 19.60501559 34.31428919 32.30238551
 38.73367601 12.99034475 10.76023254 10.49639887 13.29545045 14.11556051
 13.67567431 17.35423216 12.7215866  16.63090505 61.32035114 31.78347759
 46.95862137 24.77639989 18.68405114 29.36011956 28.81432549 24.70940055
 62.83584726 59.33881799 33.46522725 62.40436131 37.57655509 37.39144523
 31.90143688 34.69129426 33.66776297 53.51014205 14.77105406 13.52985529
 13.14595644 14.28995402 12.82709125 18.92090572 12.81956115 16.50033948
 28.60523484 33.07890337 32.42956141 41.4854429  28.00158689 35.67434023
 29.49161185 25.11357061 24.92940831 27.53163916 21.69520876 37.08670003
 49.08358468 22.7417209  49.68837615 16.40092976 16.88675185 34.27946268
 20.50434533 20.60963821 56.376341   49.45147388 42.19457324 49.3724554
 54.92503111 27.13968793 17.07433736 24.28364596 18.69018027 18.2812117
 24.02838334 30.59858263 23.5604135  16.19262009 13.388575   13.63017416
 12.71037763  9.41119827 23.39894146 12.56777698 10.82758573 13.72349894
 21.03424337 32.9794271  33.76941165 26.00801052 60.18171933 19.87329662
 58.17153809 20.59043451 19.71558117 26.90327431 26.80407246 57.43563513
 46.91302486 24.07992917 49.97017235 20.21116077 21.68853712 22.34777994
 19.16096968 20.59826888 45.40833022 40.18568298 25.28270267 37.43870079
 32.70159964 23.78308802 19.66529828 21.56803527 22.09885657 39.63847758
 36.04568109 10.27055857 20.58083639 10.7617586  17.66587391 22.48281783
 54.59654529 19.24767091 54.37297113 19.87925195 19.40236229 18.56113598
 18.9821697  55.71681301 40.56240215 34.34703585 18.56839333 13.73869758
 20.57117802 19.30946563 42.04813001 31.37131976 42.35452644 26.27128898
 22.72395957 22.01615204 22.96170195 29.69852336 41.80094555 63.86689498
 13.2264195  74.09265442 20.07940778 20.63378006 17.76716156 20.41104134
 21.70949012 52.79200071 26.02519756 20.38762003 16.83900285 12.23342103
 14.24006287 30.63205454 22.61827082 14.32566176 35.77294022 33.17281386
 17.43435367 16.3685102  19.094743   18.18975263 36.11397708 20.88050692
 33.90396588 26.43215869 25.3760289  27.22894472 29.25720734 27.97578252
 31.9751616  35.64173636 18.16668192 29.46822286 20.79306066 17.28997934
 19.69442573 17.94411882 25.46278628 46.05033027 24.92480644 47.47623372
 30.37491403 31.887972   30.00523532 21.85690126 22.0524352  44.22179989
 14.20660792 40.15975875 16.00592376 38.76852446 16.09240753 16.21094927
 32.82704074 37.95709123 22.02274066 29.14400744 19.62369581 22.18056146
 39.25532397 37.85590489 27.30951941 22.42504668 16.5327352  20.70491306
 12.98497172 19.97287809 16.70748496 24.82851019 51.23085067 30.6242797
 41.47138088 29.68752609 25.86564453 24.60798009 25.1337651  24.15495258
 49.53974705 57.33873111 30.98426894 57.36833899 30.98108547 29.66585774
 22.65128809 24.13352188 21.61960411 59.62050861 22.99499617 18.42444087
 15.75771053 18.8470311  37.8477052  34.49977539 28.2901567  23.30018996
 14.67236112 24.82057438 21.51516439 49.21630174 25.64781389 42.25279421
 24.32040789 16.04142507 21.37324907 21.78662081 19.13902369 49.31880389
 50.34956432 20.77935775 48.37484936 22.26462397 19.86540607 21.72829367
 21.25475815 30.93844373 51.33625871 32.88314631 19.79986399 19.07739197
 12.58128126 18.6495281  13.89858971 36.24829324 18.20058839 33.55124527
 18.79535182 17.73433995 17.62467649 19.2117246  17.9249986  32.6761357
 38.39344322 25.64237904 33.84194146 47.76349557 25.27922339 50.01192752
 20.51227447 21.26641642 21.19785842 20.31192448 20.77606065 48.41308172
 35.71567522 20.63861943 42.79637174 15.50531302 14.31693558 18.81461831
 21.56809764 21.57337319 45.97833846 57.47975732 18.35529192 39.69282608
 23.35311057 16.00884183 19.16880038 20.91030874 17.53572916 46.1785352
 34.58094752 16.76047475 54.11255574 18.29721199 22.6793422  20.55671776
 18.94711708 20.54251494 41.13818048 59.98743887 44.07270141 26.75654132
 14.45608366 23.90884792 18.72346509 42.83296974 41.1980228  20.49421698
 19.97714788 18.55522355 19.39352696 20.11649872 27.13148126 55.44030516
 17.92223665 16.50603268 58.33295178 30.55494912 10.57273909 27.56588942
 24.02778436 37.06801731 22.14292713 13.29950344 29.49161185 20.60271295
 19.70790204 25.87523567 12.57664453 58.15773037 19.31052452 44.32413296
 28.5430936  21.74906477 20.84567216 25.31910177 22.77223209 34.50823315
 27.15683637 27.79346255 38.65358889 15.56369888 22.69055196 37.78791101
 51.05945458 24.21804209 52.91650135 21.08644718 23.49331849 21.52526833
 31.33982645 23.30692218 53.68228993 43.35348344 44.21066425 32.80279446
 30.34482623 23.98711176 31.9967485  19.71187009 42.08551898 21.15701551
 19.67358549 19.79851515 18.86315157 38.61176163 45.51722773 14.43390664
 15.454531   15.34902324 16.66912633 14.80062088 14.02803717 15.50309314
 38.31143823 41.31866887 42.99806778 45.90712573 22.0643017  19.02001381
 18.69822503 21.85464409 11.13588692 52.29802483 25.90053444 47.4583487
 28.95610081 30.43780468 27.71542426 29.89780219 30.87687731 43.054395
 29.45871528 26.99695392 30.50344848 18.78866627 18.69151018 21.91395624
 19.77829796 23.68238229 26.19980439 25.58761508 32.38788411 36.16535703
 30.13730187 29.09289559 17.46644162 22.91449965 27.57287721 28.22121744
 19.79385811 19.13387725 23.20626976 19.33163084 28.07579241 25.69602576
 24.41406578 23.76332502 19.48988897 31.48462968 29.60118416 30.38101382
 30.50925062 32.72160465 19.85364647 21.7109987  19.41703209 19.20402761
 21.1689453  18.94991699 19.1666584  19.29745062 20.02673175 22.6562984
 22.35119513 21.76381834 21.89834748 20.73062179 19.21150145 32.22788059
 30.95559797 30.42806392 25.51697235 24.20236345 24.76002894 19.08157615
 22.51891355 21.1390389  20.12643087 24.77940553 20.22047006 33.76425123
 36.89019153 18.67811052 22.28239565 19.59322676 38.88876627 35.64364022
 42.06128624 22.77580267 22.02759006 22.16807799 17.7964634  25.21004685
 25.40813026 19.81254197 20.11148378 21.34835552 24.71659134 24.51341901
 25.96411729 24.86625301 24.93939403 33.56501415 27.82685637 20.64708459
 29.65345827 38.87658285 31.52067612 24.20029068 24.8924126  24.50375581
 24.04256859 23.63601565 20.59726423 20.30268231 19.74375322 24.21455558
 24.10686766 23.47605757 27.38788411 27.77825848 20.12969809 33.75444067
 32.93982424 34.12674843 19.45066438 33.55265495 22.48148934]

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92629 entries, 0 to 92628
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Time        92629 non-null  datetime64[ns]
 1   BS          92629 non-null  object
 2   Energy      92629 non-null  float64
 3   load        92629 non-null  float64
 4   ESMODE      92629 non-null  float64
 5   TXpower     92629 non-null  float64
 6   Year        92629 non-null  int32
 7   Month       92629 non-null  int32
 8   Day         92629 non-null  int32
 9   Hour        92629 non-null  int32
 10  Seconds     92629 non-null  int32
 11  BS_encoded  92629 non-null  float64
dtypes: datetime64[ns](1), float64(5), int32(5), object(1)
memory usage: 6.7+ MB

In [12]:
df.head()

,Time,BS,Energy,load,ESMODE,TXpower,Year,Month,Day,Hour,Seconds,BS_encoded
0,2023-01-01 01:00:00,B_0,64.275037,0.487936,0.0,7.101719,2023,1,1,1,0,73.087415
1,2023-01-01 02:00:00,B_0,55.904335,0.344468,0.0,7.101719,2023,1,1,2,0,73.087415
2,2023-01-01 03:00:00,B_0,57.698057,0.193766,0.0,7.101719,2023,1,1,3,0,73.087415
3,2023-01-01 04:00:00,B_0,55.156951,0.222383,0.0,7.101719,2023,1,1,4,0,73.087415
4,2023-01-01 05:00:00,B_0,56.053812,0.175436,0.0,7.101719,2023,1,1,5,0,73.087415

In [15]:
selected_features=['Time','Energy','load','ESMODE','TXpower','Day','Hour','BS_encoded']
correlation_matrix = df[selected_features].corr()
correlation_matrix

,Time,Energy,load,ESMODE,TXpower,Day,Hour,BS_encoded
Time,1.000000,0.030404,0.066937,-0.032436,-0.038777,0.987834,0.132592,0.007711
Energy,0.030404,1.000000,0.643022,-0.271783,0.450760,-0.001294,0.203709,0.922452
load,0.066937,0.643022,1.000000,-0.208473,0.200221,0.016688,0.323958,0.487335
ESMODE,-0.032436,-0.271783,-0.208473,1.000000,0.060017,0.004096,-0.234626,-0.142792
TXpower,-0.038777,0.450760,0.200221,0.060017,1.000000,-0.039210,0.000630,0.491489
Day,0.987834,-0.001294,0.016688,0.004096,-0.039210,1.000000,-0.023159,0.007395
Hour,0.132592,0.203709,0.323958,-0.234626,0.000630,-0.023159,1.000000,0.002438
BS_encoded,0.007711,0.922452,0.487335,-0.142792,0.491489,0.007395,0.002438,1.000000

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X = df.drop(columns=['Energy','Day','BS','Year','Month','Day','Seconds','Time'])
y= df['Energy']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(X_train.columns)

Index(['load', 'ESMODE', 'TXpower', 'Hour', 'BS_encoded'], dtype='object')

In [22]:
from sklearn.linear_model import LinearRegression  # To create and train a linear regression model
from sklearn.metrics import mean_squared_error  # To evaluate the model using Mean Squared Error (MSE)
from sklearn.metrics import r2_score  # To evaluate the model using R-squared (RÂ²)

In [25]:
# Initialize the model
lin_reg = LinearRegression()

# Fit the model
lin_reg.fit(X_train, y_train)

# Predicting on test data
y_pred = lin_reg.predict(X_test)

# Model evaluation
print("Linear Regression RMSE:", mean_squared_error(y_test, y_pred, squared=False))
print("Linear Regression R2 Score:", r2_score(y_test, y_pred))

Linear Regression RMSE: 3.8699977769290195
Linear Regression R2 Score: 0.9210938363967964

In [26]:
from sklearn.tree import DecisionTreeRegressor

# Initialize a Decision Tree Regressor model
des_tree= DecisionTreeRegressor()

# Train the model using the training data (X_train) and the corresponding target values (y_train)
des_tree.fit(X_train, y_train)

y_pred = des_tree.predict(X_test)
#Model evaluation
print("Linear Regression RMSE:", mean_squared_error(y_test, y_pred, squared=False))
print("Linear Regression R2 Score:", r2_score(y_test, y_pred))

Linear Regression RMSE: 2.874254146190291
Linear Regression R2 Score: 0.9564748946921674

In [27]:
from sklearn.ensemble import RandomForestRegressor

# Initialize a Random Forest Regressor model
ran_forest = RandomForestRegressor()

# Train the model using the training data (X_train) and the corresponding target values (y_train)
ran_forest.fit(X_train, y_train)

y_pred = ran_forest.predict(X_test)

#Model evaluation
print("Linear Regression RMSE:", mean_squared_error(y_test, y_pred, squared=False))
print("Linear Regression R2 Score:", r2_score(y_test, y_pred))

Linear Regression RMSE: 2.1574247368244066
Linear Regression R2 Score: 0.9754777223402983

In [28]:
import xgboost as xgb

# Initialize an XGBoost Regressor model
xgb = xgb.XGBRegressor()

# Train the model using the training data (X_train) and the corresponding target values (y_train)
xgb.fit(X_train, y_train)
y_pred = xgb.predict(X_test)

#Model evaluation
print("Linear Regression RMSE:", mean_squared_error(y_test, y_pred, squared=False))
print("Linear Regression R2 Score:", r2_score(y_test, y_pred))

Linear Regression RMSE: 2.354685902183168
Linear Regression R2 Score: 0.9707883919517042

**BEST MODEL IS RANDOM FOREST**